* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #242424;
  color: #fff;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

a {
  text-decoration: none;
  color: #fff;
  font-weight: 500; }

ul,
li {
  list-style: none; }

img {
  width: 100%; }

.unBtn {
  background: none;
  border: none;
  cursor: pointer;
  outline: none; }
  .unBtn:disabled {
    opacity: 45%;
    cursor: default; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  vertical-align: middle; }

.container {
  margin: 2rem; }

.navbar {
  background-color: #d100b9;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 50px; }

.nav-start {
  display: flex;
  flex: 1; }

.nav-end {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 1rem; }

.nav-logo {
  width: 50px; }

.nav-link {
  color: #fff;
  cursor: pointer;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  transition: all 0.5s ease-in-out; }
  .nav-link:hover {
    color: #7900cf; }

.nav-search {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  position: relative; }

.nav-search__input {
  font-size: 1.8rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  text-align: center;
  border: none; }

.search-btn {
  color: #d100b9;
  font-size: 2.5rem;
  position: absolute;
  top: 15%;
  right: 1%; }

.menu-overlay {
  display: flex;
  flex-direction: column;
  width: 0%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  background: #cf00a5;
  opacity: 0.2;
  overflow-y: scroll;
  visibility: hidden;
  transition: opacity 0.35s, width 0.6s ease, visibility 0.35s; }

.noscroll {
  overflow: hidden; }

.menu-overlay.active {
  width: 100%;
  opacity: 0.98;
  visibility: visible; }

.menu-top,
.menu-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 1rem; }

.menu-bottom {
  margin-top: 3rem; }

.menu-list {
  text-align: center; }

.menu-list li {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem; }

.logo-container {
  margin-bottom: 1.5rem;
  width: 100px; }

.menu-top__button {
  color: #ededed;
  background-color: #5b009c;
  border: none;
  border-bottom: 2px solid #3d0069;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Darker Grotesque', sans-serif;
  padding-bottom: 1rem;
  padding-top: 0.5rem;
  width: 100%;
  transition: all 0.7s ease-in-out; }
  .menu-top__button:hover {
    background-color: #7900cf;
    color: #ededed; }

.menu-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0.25rem;
  z-index: 4; }

.menu-button__burger {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  pointer-events: none; }

.menu-button__burger::before,
.menu-button__burger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  pointer-events: none; }

.menu-button__burger::before {
  transform: translateY(-10px); }

.menu-button__burger::after {
  transform: translateY(10px); }

.menu-button.open .menu-button__burger {
  transform: translateX(-50px);
  background: transparent; }

.menu-button.open .menu-button__burger::before {
  transform: rotate(45deg) translate(35px, -35px); }

.menu-button.open .menu-button__burger::after {
  transform: rotate(-45deg) translate(35px, 35px); }

@media (max-width: 425px) {
  .nav-link {
    display: none; } }

@media (min-width: 426px) {
  .menu-button {
    display: none; } }

.media-top-outer {
  position: relative; }

.media-top-backdrop {
  position: relative; }

.backdrop {
  z-index: 2;
  opacity: 0.5;
  vertical-align: bottom; }

.overlay {
  background-color: #000000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.3;
  display: block; }

.media-top-poster-info {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  bottom: 5%;
  left: 5%;
  padding: 1rem; }

.poster {
  width: 20%; }

.info {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .info li {
    font-weight: 500;
    line-height: 1.2; }

.info-title {
  font-size: 3.5rem;
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase; }

@media (max-width: 425px) {
  .info-title {
    font-size: 2.2rem; }
  .info li {
    font-size: 1.4rem; }
  .poster {
    width: 30%; } }

@media (min-width: 426px) {
  .info-title {
    font-size: 2.5rem; }
  .poster {
    width: 30%; } }

@media (min-width: 768px) {
  .info-title {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase; }
  .poster {
    width: 20%; } }

.media-bottom-info {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem; }

.media-bottom-tag {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center; }

.media-bottom-desc {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  color: #d100b9; }

.media-bottom-overview {
  font-size: 2rem;
  color: #ededed; }

.media-bottom-iframe {
  max-width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden; }

.bottom-iframe {
  border: 0;
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0; }

.profile-buttons,
.pagination-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  text-align: center;
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 2.5rem; }

.pagination-buttons {
  margin-top: 2rem; }

.favorites-btn, .watchlist-btn {
  background-color: #d100b9;
  color: #fff;
  padding: 1.65rem 2rem;
  border: none;
  border-radius: 5px;
  border-bottom: 2px #9e008c solid;
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 2rem;
  width: 50%;
  cursor: pointer;
  transition: all 0.7s ease-in-out; }
  .favorites-btn:hover, .watchlist-btn:hover {
    background-color: #ff05e2;
    color: #ededed; }

.watchlist-btn {
  background-color: #5b009c;
  border-bottom: 2px #3d0069 solid;
  margin-right: 0; }
  .watchlist-btn:hover {
    background-color: #7900cf;
    color: #ededed; }

@media (max-width: 425px) {
  .profile-buttons,
  .pagination-buttons {
    flex-direction: column;
    margin-bottom: 0;
    align-items: center; }
  .favorites-btn, .watchlist-btn,
  .watchlist-btn {
    width: 100%; }
  .favorites-btn, .watchlist-btn {
    margin-bottom: 2.5rem;
    margin-right: 0; }
  .watchlist-btn {
    margin-bottom: 0; }
  .button-outer-container {
    justify-content: center;
    align-items: center; } }

.thumbnail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.thumbnail-title {
  font-weight: 700; }

.landing-grid {
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  grid-gap: 2rem;
  margin-top: 2rem; }

.more {
  color: #d100b9;
  vertical-align: text-bottom;
  margin-left: 0.25rem;
  animation-name: Pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite; }

@media (max-width: 425px) {
  .landing-grid {
    grid-template-columns: repeat(2, 10fr); } }

@media (min-width: 426px) {
  .landing-grid {
    grid-template-columns: repeat(4, 5fr); } }

@media (min-width: 768px) {
  .landing-grid {
    grid-template-columns: repeat(5, 4fr); } }

@keyframes Pulse {
  0% {
    color: #d100b9; }
  80% {
    color: #ff05e2; }
  100% {
    color: #ff1fe5; } }

.genre-container {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem; }

.genicon {
  color: #d100b9; }

.genre-ul {
  display: flex;
  justify-content: center; }
  .genre-ul li:not(:first-child) {
    margin-left: 0.5rem; }

@media (max-width: 425px) {
  .genre-ul {
    flex-direction: column;
    text-align: center; }
    .genre-ul li:not(:first-child) {
      margin-left: 0; } }

.providers-container {
  max-width: 85%;
  margin: 0 auto;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.flatrate-container,
.buy-container,
.rent-container {
  display: grid;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1.5rem; }

.provider-logo {
  max-width: 70px;
  border-radius: 5px; }

.pages-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem; }

.chevNext {
  color: #d100b9;
  font-size: 5rem;
  margin-left: 3rem; }

.chevBack {
  color: #5b009c;
  font-size: 5rem; }
