.home-bg {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('/assets/home.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 100vh;
}
.home-overlay {
	background: #000000;
	opacity: 0.75;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
}
.home-content {
	position: relative;
	z-index: 1;
	border-radius: 5px;
	padding: 2rem;
	max-width: 40%;
	margin-bottom: 6rem;
}
.lead-text {
	font-size: 3rem;
	font-weight: 500;
	letter-spacing: 5px;
	text-transform: uppercase;
	text-align: center;
	z-index: 4;
	color: $secondary-text-color;
	margin-top: 5rem;
	margin-bottom: 4rem;
	animation-name: leadFadeSpread;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
}
@keyframes leadFadeSpread {
	0% {
		opacity: 0;
		letter-spacing: 0px;
		transform: translateY(-0.5rem);
	}
	50% {
		opacity: 0.25;
	}
	65% {
		letter-spacing: 1px;
	}
	80% {
		opacity: 0.5;
		letter-spacing: 2px;
		transform: translateY(0.5rem);
	}
	90% {
		letter-spacing: 3.5px;
	}
	100% {
		opacity: 1;
		letter-spacing: 5px;
		transform: translateY(0);
	}
}
.lead-overlay {
	background: darken($primary-button-color, 15%);
	opacity: 0.7;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	border-radius: 5px;
	z-index: -1;
}
.sub-lead {
	color: $secondary-text-color;
	font-size: 2rem;
	letter-spacing: 4px;
}
.description {
	color: $secondary-text-color;
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

// Form Styling
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2.5rem;
}

// Input Label Floating Utils
.form-group {
	position: relative;
	margin-bottom: 1rem;
	width: 100%;
}
.float-label {
	position: absolute;
	top: 0;
	left: 15%;
	padding: 0.7rem 0 0 1rem;
	transition: all 250ms;
	opacity: 1;
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	color: #000000;
}
.float-input {
	font-size: 1.6rem;
	padding: 1rem;
	background-color: darken($secondary-text-color, 15%);
	color: #000000;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	width: 70%;
	border-radius: 5px;
}

.float-input:focus + .float-label,
.float-input:valid + .float-label {
	font-size: 85%;
	font-weight: 600;
	transform: translate3d(0, -100%, 0);
	color: $secondary-text-color;
	opacity: 1;
}

.btn-formsub {
	background: $secondary-button-color;
	font-size: 1.8rem;
	font-family: 'Darker Grotesque', sans-serif;
	font-weight: 900;
	color: $secondary-text-color;
	cursor: pointer;
	padding: 1rem;
	width: 70%;
	border-bottom: 2px solid darken($secondary-button-color, 10%);
	border-radius: 5px;
	transition: all 0.7s ease-in-out;
	&:hover {
		background: lighten($secondary-button-color, 10%);
	}
}
.register-text {
	margin-top: 1.8rem;
	text-align: center;
}
.regBtn {
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Quicksand', sans-serif;
	outline: none;
}

@media (max-width: 425px) {
	.lead-text {
		font-size: 3rem;
		margin-bottom: 6rem;
	}
	.home-content {
		max-width: 80%;
	}
	.float-input {
		width: 85%;
	}
	.float-label {
		left: 8%;
	}
	.btn-formsub {
		width: 85%;
	}
}
@media (min-width: 426px) {
	.lead-text {
		font-size: 3rem;
		margin-bottom: 6rem;
	}
	.home-content {
		max-width: 65%;
	}
	.float-input {
		width: 85%;
	}
	.float-label {
		left: 8%;
	}
	.btn-formsub {
		width: 85%;
	}
}
@media (min-width: 767px) {
	.lead-text {
		font-size: 3rem;
		margin-bottom: 6rem;
	}
	.home-content {
		max-width: 400px;
	}
	.float-input {
		width: 85%;
	}
	.float-label {
		left: 8%;
	}
	.btn-formsub {
		width: 85%;
	}
}
