.profile-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	text-align: center;
	max-width: 85%;
	margin: 0 auto;
	margin-bottom: 2.5rem;
}
.favorites-btn {
	background-color: $secondary-button-color;
	color: $primary-text-color;
	padding: 1.65rem 2rem;
	border: none;
	border-radius: 5px;
	border-bottom: darken($secondary-button-color, 10%);
	margin-right: 2rem;
	width: 50%;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	&:hover {
		background-color: lighten($secondary-button-color, 10%);
	}
}
.watchlist-btn {
	@extend .favorites-btn;
	background-color: $primary-button-color;
	margin-right: 0;
	&:hover {
		background-color: lighten($primary-button-color, 10%);
	}
}
@media (max-width: 425px) {
	.profile-buttons {
		flex-direction: column;
		margin-bottom: 0;
		align-items: center;
	}
	.favorites-btn,
	.watchlist-btn {
		width: 100%;
	}

	.favorites-btn {
		margin-bottom: 2.5rem;
		margin-right: 0;
	}
	.watchlist-btn {
		margin-bottom: 0;
	}
	.button-outer-container {
		justify-content: center;
		align-items: center;
	}
}
