.carousel-container {
	display: flex;
	position: relative;
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.65rem;
}
.cast-carousel {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
	& > * {
		scroll-snap-align: center;
	}
	> div:not(:last-child) {
		margin-right: 15px;
	}
}
.media-card-container {
	display: flex;
	width: 130px;
	flex-direction: column;
	border: 2px solid #d100b9;
	border-radius: 5px;
}
.media-card-image {
	width: 125px;
	//width: 100%;
	height: auto;
	max-height: 187.5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.media-card-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 5px;
	text-align: center;
}
.media-card-character {
	color: #eee;
	font-style: italic;
	font-size: 1rem;
}
.media-card-actor {
	font-size: 1.2rem;
}
.carousel-button {
	position: absolute;
	cursor: pointer;
	top: 50%;
	z-index: 1;
	padding: 0.25rem;
	font-size: 3rem;
	color: $secondary-button-color;
}
.carousel-button-left {
	@extend .carousel-button;
	left: 0;
	transform: translate(-100%, -50%);
}
.carousel-button-right {
	@extend .carousel-button;
	right: 0;
	transform: translate(100%, -50%);
}
