.providers-container {
	max-width: 85%;
	margin: 0 auto;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flatrate-container,
.buy-container,
.rent-container {
	display: grid;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1.5rem;
}

.provider-logo {
	max-width: 70px;
	border-radius: 5px;
}
