.navbar {
	background-color: $primary-nav-color;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 50px;
}
.nav-start {
	display: flex;
	flex: 1;
}
.nav-end {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 1rem;
}
.nav-logo {
	width: 50px;
}
.nav-link {
	color: $primary-text-color;
	cursor: pointer;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 2rem;
	margin-left: 1rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	transition: all 0.5s ease-in-out;
	&:hover {
		color: lighten($primary-button-color, 10%);
	}
}
.nav-search {
	display: flex;
	justify-content: flex-end;
	align-items: stretch;
	position: relative;
}
.nav-search__input {
	font-size: 1.8rem;
	padding: 0.6rem;
	border-radius: 6px;
}
.search-btn {
	color: $secondary-button-color;
	font-size: 2.5rem;
	position: absolute;
	top: 15%;
	right: 1%;
}
