.navbar {
	background-color: $primary-nav-color;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 50px;
}
.nav-start {
	display: flex;
	flex: 1;
}
.nav-end {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-right: 1rem;
}
.nav-logo {
	width: 50px;
}
.nav-login {
	background-color: $primary-button-color;
	border: none;
	border-bottom: 2px darken($primary-button-color, 10%) solid;
	border-radius: 5px;
	color: $primary-text-color;
	cursor: pointer;
	font-family: 'Darker Grotesque', sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 0.5rem;
	transition: all 0.5s ease-in-out;
	&:hover {
		background-color: lighten($primary-button-color, 10%);
	}
}
