.pages-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}

.chevNext {
	color: $secondary-button-color;
	font-size: 5rem;
	margin-left: 3rem;
}
.chevBack {
	color: lighten($primary-button-color, 10%);
	font-size: 5rem;
}
