.people-table {
	margin: 0 auto;
	margin-top: 2rem;
	width: 95%;
}
th {
	font-weight: 700;
	font-size: 1.6rem;
	color: $secondary-button-color;
	padding: 0.75rem;
	border-bottom: 1px solid $secondary-button-color;
}
td {
	font-weight: 400;
	font-size: 1.2rem;
	padding: 0.75rem;
	color: $primary-text-color;
	text-align: center;
	border-bottom: 1px solid $secondary-button-color;
}

tr:nth-child(even) {
	background: lighten($primary-bg-color, 1%);
}
.people-invite-btn {
	background-color: $primary-button-color;
	color: $primary-text-color;
	border: none;
	border-radius: 5px;
	border-bottom: 2px darken($primary-button-color, 10%) solid;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	padding: 0.5rem 1.2rem;
	cursor: pointer;
	transition: all 0.7s ease-in-out;
	&:hover {
		background-color: lighten($primary-button-color, 10%);
		color: $secondary-text-color;
	}
}
.accept {
	background-color: $secondary-button-color;
	&:hover {
		background-color: lighten($secondary-button-color, 5%);
	}
}

.people-table-avatar {
	border-radius: 50%;
	width: 50px;
}
.peopleWatched {
	color: $secondary-button-color;
}
.peopleFave {
	color: $auxiliary-button-color;
}
@media (max-width: 425px) {
	#hide-sm {
		display: none;
	}
}
