// A completely unstyled button for icon use
.unBtn {
	padding: 0;
	margin: 0;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
	&:disabled {
		opacity: 45%;
		cursor: default;
	}
}

.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.container {
	margin: 2rem;
}
.pink-span {
	color: $auxiliary-text-color;
}
