// A completely unstyled button for icon use
.unBtn {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	&:disabled {
		opacity: 45%;
		cursor: default;
	}
}

.btn {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	vertical-align: middle;
}

.container {
	margin: 2rem;
}
.pink-span {
	color: $auxiliary-text-color;
}
